@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* Gradient Border Rotate Animation */
@keyframes rotate-border {
    to {
        --angle: 360deg;
    }
}

/* Footer container styles */
footer {
    animation: border-glow 5s linear infinite, cyberpunk-glow 5s infinite alternate;
    background-image: linear-gradient(120deg, var(--color-charcoal), var(--color-secondary-blue-500), var(--color-charcoal));
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, var(--color-primary-cyan-900), var(--color-primary-magenta-900), var(--color-primary-cyan-900));
    text-shadow: var(--color-text-shadow);
    scroll-snap-align: end;
}

footer section {
    flex: 1;
}

/* Footer Section Styles */
.footer-title {
    font-family: var(--font-h2-ff);
    margin-bottom: 1rem;
    text-align: center;
    transition: text-shadow 0.3s ease;
}

/* Footer Form Styles */
.contact-input {
    background-color: var(--color-charcoal);
    border: 1px solid var(--color-primary-cyan-900);
    border-radius: 0 20px;
    box-shadow: 0 0 8px rgba(0, 255, 255, 0.8);
    color: var(--color-primary-cyan-900);
    font-family: var(--font-body-ff);
    margin: 0.5rem 0;
    padding: 0.5rem;
    transition: all 0.3s ease;
    min-width: 280px;
}

.contact-input:focus {
    border: 1px solid var(--color-primary-magenta-900);
    box-shadow: 0 0 16px rgba(255, 0, 255, 0.8);
    outline: none;
}

/* Styles for the social media icons */
.icon-link {
    filter: drop-shadow(0 0 16px rgba(255, 0, 255, 0.822));
    transition: all 0.2s ease;
}

.icon-link:hover {
    color: var(--color-primary-cyan-500);
    scale: 1.2;
}

.icon-link:active {
    color: var(--color-primary-cyan-700);
    scale: 0.9;
}

.icon {
    filter: drop-shadow(0 0 8px rgba(0, 255, 255, 0.795));
}

/* Contact Section Styles */
#contact-message {
    height: 4.5rem;
    width: 100%;
}

#contact-btn {
    background-image: linear-gradient(
    120deg,
    var(--color-charcoal),
    var(--color-secondary-blue-500),
    var(--color-charcoal)
  );
  border-radius: 25px 0;
  cursor: pointer;
  padding: 0.5rem 1rem;
  opacity: 1;
  text-shadow: var(--color-text-shadow);
  transition: all 0.3s ease;
  top: 2rem;
  transform-style: preserve-3d;
}

#contact-btn:hover {
    scale: 1.2;
}

#contact-btn:active {
    scale: 0.9;
}

#contact-btn:hover::before {
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.815);
    filter: blur(8px);
}

#contact-btn::before {
    animation: rotate-border 6s linear infinite;
  background-image: linear-gradient(
    var(--angle),
    var(--color-primary-cyan-900),
    var(--color-primary-cyan-700),
    var(--color-primary-magenta-700),
    var(--color-primary-magenta-900)
  );
  bottom: 0px;
  border-radius: 25px 0;
  content: '';
  filter: blur(4px);
  height: 100%;
  left: 0px;
  position: absolute;
  transition: all 0.3s ease;
  width: 100%;
  transform: translateZ(-5px);
}

#copyright {
    text-shadow: none;
}