#about-section {
  scroll-snap-align: start;
}

#abt-section-title {
    animation: alt-text-glow 5s infinite;
    -webkit-text-stroke: 1px var(--color-primary-magenta-900);
}

#information-grid {
    align-items: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        'backstory . education'
        '. hobbies .'
        'future . why';
    height: fit-content;
    position: relative;
    width: 100%;
    opacity: 0;
    transform: scaleX(0.1);
    transition: opacity 1s ease, transform 1s ease;
}

.info-container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    position: relative;
    padding: 1rem 2rem;
}

.animated {
    opacity: 1;
    transform: scaleX(1);
}


.info-title {
    color: black;
    text-shadow: 0 0 10px var(--color-primary-cyan-900);
    -webkit-text-stroke: 1px var(--color-primary-cyan-900);
    text-align: center;
}

#personal-story {
    grid-area: backstory;
}

#education {
    grid-area: education;
}

#hobbies {
    grid-area: hobbies;
}

#future {
    grid-area: future;
}

#why {
    grid-area: why;
}

@media (max-width: 1400px) {
    #information-grid {
        align-items: stretch;
        row-gap: 3rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            'backstory'
            'education'
            'hobbies'
            'future'
            'why';
    }

    .info-container {
        height: fit-content;
    }
}
    
@media (max-width: 768px) {
    #abt-section-title {
        animation: sm-alt-text-glow 5s infinite;
    }
    .info-title {
        text-shadow: 0 0 3px var(--color-primary-cyan-900);
    }
}
