/* This is the CSS file for the Navbar component */

/* Navbar menu button */
.nav-menu-line {
    background: linear-gradient(90deg, #00fff6, #ff00f6);
    border-radius: 2px;
    box-shadow: 0 0 8px rgba(0, 255, 246, 0.8), 0 0 16px rgba(255, 0, 246, 0.8);
    transition: all 0.4s ease-in-out;
}

/* Offset the lines horizontally */
.nav-menu-line:nth-child(1) {
    width: 60%;
    margin-left: 0%;
}

.nav-menu-line:nth-child(2) {
    width: 80%;
    margin-left: 0%;
}

.nav-menu-line:nth-child(3) {
    width: 100%;
    margin-left: 0%;
}

/* Add hover effects for glow */
#nav-menu-btn:hover .nav-menu-line {
    box-shadow: 0 0 12px rgba(0, 255, 246, 1), 0 0 24px rgba(255, 0, 246, 1);
}

/* Navbar menu button animation */
#nav-menu-btn.open-menu .nav-menu-line:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
    margin-left: 0;
    width: 100%;
}

#nav-menu-btn.open-menu .nav-menu-line:nth-child(2) {
    opacity: 0;
    transform: scale(0.5);
}

#nav-menu-btn.open-menu .nav-menu-line:nth-child(3) {
    margin-left: 0;
    transform: translateY(-14px) rotate(-45deg);
    width: 100%;
}

/* Navbar menu styles for larger screens */
.nav-list {
    animation: border-glow 5s linear infinite, cyberpunk-glow 5s infinite alternate;
    background-image: linear-gradient(10deg, var(--color-secondary-blue-500), var(--color-charcoal) 80%);
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, var(--color-primary-cyan-900), var(--color-primary-magenta-900), var(--color-primary-cyan-900));
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.3);
}

/* Navbar links */
.nav-link {
    position: relative;
    text-shadow: 0 0 8px rgba(0, 255, 255, 0.8), 0 0 16px rgba(255, 0, 255, 0.8);
    transition: all 0.3s ease;
}

.nav-link:hover {
    animation: glitch 0.5s linear infinite;
    color: var(--color-primary-cyan-500);
}

.nav-link::after {
    background-color: var(--color-primary-magenta-900);
    bottom: -2px;
    content: '';
    filter: blur(0.5px);
    height: 1px;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: width 0.2s;
    width: 0;
    z-index: 20;
}

.nav-link:hover::after {
    width: 102%;
}

.nav-link::before {
    background-color: var(--color-primary-magenta-900);
    content: '';
    filter: blur(0.5px);
    height: 0;
    right: -2px;
    opacity: 1;
    position: absolute;
    top: 0;
    transition: height 0.2s;
    width: 1px;
    z-index: 20;
}

.nav-link:hover::before {
    height: 107%;
}