/* Border Glow Animation */
@keyframes border-glow {
    0% { border-image-source: linear-gradient(90deg, var(--color-primary-cyan-900), var(--color-primary-magenta-900), var(--color-primary-cyan-900)); }
    50% { border-image-source: linear-gradient(90deg, var(--color-primary-magenta-900), var(--color-primary-cyan-900), var(--color-primary-magenta-900)); }
    100% { border-image-source: linear-gradient(90deg, var(--color-primary-cyan-900), var(--color-primary-magenta-900), var(--color-primary-cyan-900)); }
}

/* Glitch Effect */
@keyframes glitch {
    0% { text-shadow: 2px 2px var(--color-primary-purple-700); }
    25% { text-shadow: -2px -2px var(--color-primary-magenta-900); }
    50% { text-shadow: 2px -2px var(--color-primary-purple-700); }
    75% { text-shadow: -2px 2px var(--color-primary-magenta-900); }
    100% { text-shadow: 2px 2px var(--color-primary-purple-700); }
}

/* Glow Pulse Animation */
@keyframes cyberpunk-glow {
    0% {
        box-shadow: 0 0 5px rgba(0, 255, 246, 0.8), 0 0 10px rgba(255, 0, 246, 0.8);
    }
    50% {
        box-shadow: 0 0 12px rgb(16, 116, 91), 0 0 20px rgba(255, 0, 246, 1);
    }
    100% {
        box-shadow: 0 0 5px rgba(0, 255, 246, 0.8), 0 0 10px rgba(255, 0, 246, 0.8);
    }
}

@keyframes h1-glow {
    0% {
        text-shadow:0 0 15px var(--color-primary-magenta-700), 0 0 30px var(--color-primary-purple-700);
    }
    50% {
        text-shadow:0 0 5px var(--color-primary-magenta-700), 0 0 15px var(--color-primary-purple-700);
    }
    100% {
        text-shadow:0 0 15px var(--color-primary-magenta-700), 0 0 30px var(--color-primary-purple-700);
    }
}

@keyframes h2-glow {
    0% {
        text-shadow:0 0 10px var(--color-primary-cyan-700), 0 0 20px var(--color-primary-cyan-700);
    }
    50% {
        text-shadow:0 0 5px var(--color-primary-cyan-700), 0 0 10px var(--color-primary-cyan-700);
    }
    100% {
        text-shadow:0 0 10px var(--color-primary-cyan-700), 0 0 20px var(--color-primary-cyan-700);
    }
}

@keyframes alt-text-glow {
    0% {
        text-shadow:0 0 20px var(--color-primary-magenta-700), 0 0 40px var(--color-primary-magenta-700);
    }
    50% {
        text-shadow:0 0 10px var(--color-primary-magenta-700), 0 0 25px var(--color-primary-magenta-700);
    }
    100% {
        text-shadow:0 0 20px var(--color-primary-magenta-700), 0 0 40px var(--color-primary-magenta-700);
    }
}

@keyframes skills-glow {
    0% {
        filter: blur(10px);
    }
    50% {
        filter: blur(6px);
    }
    100% {
        filter: blur(10px);
    }
}

/* Custom Properties */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* Gradient Border Rotate Animation */
@keyframes rotate-border {
    to {
        --angle: 360deg;
    }
}

/* Pop Up Fade Animation */
@keyframes popUpFade {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

/* Avatar Glow Animation */
@keyframes avatar-glow {
    0% {
        filter: drop-shadow(0 0 4px var(--color-primary-magenta-700));
    }
    50% {
        filter: drop-shadow(0 0 16px var(--color-primary-magenta-700));
    }
    100% {
        filter: drop-shadow(0 0 4px var(--color-primary-magenta-700));
    }
}


@keyframes sm-h1-glow {
    0% {
        text-shadow:0 0 10px var(--color-primary-magenta-700), 0 0 20px var(--color-primary-purple-700);
    }
    50% {
        text-shadow:0 0 2px var(--color-primary-magenta-700), 0 0 5px var(--color-primary-purple-700);
    }
    100% {
        text-shadow:0 0 10px var(--color-primary-magenta-700), 0 0 20px var(--color-primary-purple-700);
    }
}

@keyframes sm-h2-glow {
    0% {
        text-shadow:0 0 5px var(--color-primary-cyan-700), 0 0 10px var(--color-primary-cyan-700);
    }
    50% {
        text-shadow:0 0 2px var(--color-primary-cyan-700), 0 0 5px var(--color-primary-cyan-700);
    }
    100% {
        text-shadow:0 0 5px var(--color-primary-cyan-700), 0 0 10px var(--color-primary-cyan-700);
    }
}

@keyframes sm-alt-text-glow {
    0% {
        text-shadow:0 0 5px var(--color-primary-magenta-700), 0 0 10px var(--color-primary-magenta-700);
    }
    50% {
        text-shadow:0 0 2px var(--color-primary-magenta-700), 0 0 5px var(--color-primary-magenta-700);
    }
    100% {
        text-shadow:0 0 5px var(--color-primary-magenta-700), 0 0 10px var(--color-primary-magenta-700);
    }
}

