@import 'tailwindcss';

/* Custom font faces */
@font-face {
  font-family: h1-font;
  src: url('../assets/fonts/SuperCommando.otf');
}

@font-face {
  font-family: body-font;
  src: url('../assets/fonts/ChakraPetch-Regular.ttf');
}

@font-face {
  font-family: h2-font;
  src: url('../assets/fonts/Cyberverse.otf');
}

:root {
  /* Background Colors */
  --color-charcoal: #121212;
  --color-purple: #1b1b2f;
  /* Primary Colors */
  --color-primary-cyan-900: #00ffff;
  --text-primary-cyan-900: #00ffff;
  --color-primary-cyan-700: #00cccc;
  --color-primary-cyan-500: #009999;
  --color-primary-green-900: #00ff00;
  --color-primary-green-700: #00cc00;
  --color-primary-green-500: #009900;
  --color-primary-magenta-900: #ff00ff;
  --color-primary-magenta-700: #cc00cc;
  --color-primary-magenta-500: #990099;
  --color-primary-purple-700: #9400d3;
  --color-primary-purple-500: #7100a1;
  --color-primary-purple-300: #4a006e;
  /* Secondary Colors */
  --color-secondary-blue-700: #023e8a;
  --color-secondary-blue-500: #012757;
  --color-secondary-blue-300: #011024;
  --color-secondary-dk-blue-500: #0a0f25;
  --color-secondary-dk-blue-300: #070a1a;
  --color-secondary-dk-blue-100: #01030d;
  --color-secondary-magenta-500: #330033;
  --color-secondary-magenta-300: #1a001a;
  --color-secondary-magenta-100: #0d000d;
  --color-secondary-purple-500: #290929;
  --color-secondary-purple-300: #1a061a;
  --color-secondary-purple-100: #0d030d;
  /* Gradient Colors */
  --color-glitch-gradient: linear-gradient(
    90deg,
    #ff00ff 0%,
    #00ffff 50%,
    #ff00ff 100%
  );
  --color-holographic-gradient: linear-gradient(
    90deg,
    #00ffff 0%,
    #9400d3 100%
  );
  --color-sunset-gradient: linear-gradient(
    90deg,
    #ff007f 0%,
    #ff4500 50%,
    #ffd700 100%
  );

  --color-text-shadow: 0 0 8px rgba(0, 255, 255, 0.8),
    0 0 16px rgba(255, 0, 255, 0.8);
  /* Font Families */
  --font-h1-ff: h1-font;
  --font-h2-ff: h2-font;
  --font-body-ff: body-font;
  /* Font Sizes */
  --text-desktop-h1: 5rem;
  --text-desktop-h2: 3rem;
  --text-desktop-lg-body: 1.75rem;
  --text-desktop-body: 1.25rem;
  --text-mobile-h1: 3.5rem;
  --text-mobile-h2: 2.25rem;
  --text-mobile-lg-body: 1.35rem;
  --text-mobile-body: 1.125rem;
}

@theme {
  /* Background Colors */
  --color-charcoal: #121212;
  --color-purple: #1b1b2f;
  /* Primary Colors */
  --color-primary-cyan-900: #00ffff;
  --text-primary-cyan-900: #00ffff;
  --color-primary-cyan-700: #00cccc;
  --color-primary-cyan-500: #009999;
  --color-primary-green-900: #00ff00;
  --color-primary-green-700: #00cc00;
  --color-primary-green-500: #009900;
  --color-primary-magenta-900: #ff00ff;
  --color-primary-magenta-700: #cc00cc;
  --color-primary-magenta-500: #990099;
  --color-primary-purple-700: #9400d3;
  --color-primary-purple-500: #7100a1;
  --color-primary-purple-300: #4a006e;
  /* Secondary Colors */
  --color-secondary-blue-700: #023e8a;
  --color-secondary-blue-500: #012757;
  --color-secondary-blue-300: #011024;
  --color-secondary-dk-blue-500: #0a0f25;
  --color-secondary-dk-blue-300: #070a1a;
  --color-secondary-dk-blue-100: #01030d;
  --color-secondary-magenta-500: #330033;
  --color-secondary-magenta-300: #1a001a;
  --color-secondary-magenta-100: #0d000d;
  --color-secondary-purple-500: #290929;
  --color-secondary-purple-300: #1a061a;
  --color-secondary-purple-100: #0d030d;
  /* Gradient Colors */
  --color-glitch-gradient: linear-gradient(
    90deg,
    #ff00ff 0%,
    #00ffff 50%,
    #ff00ff 100%
  );
  --color-holographic-gradient: linear-gradient(
    90deg,
    #00ffff 0%,
    #9400d3 100%
  );
  --color-sunset-gradient: linear-gradient(
    90deg,
    #ff007f 0%,
    #ff4500 50%,
    #ffd700 100%
  );

  --color-text-shadow: 0 0 8px rgba(0, 255, 255, 0.8),
    0 0 16px rgba(255, 0, 255, 0.8);
  /* Font Families */
  --font-h1-ff: h1-font;
  --font-h2-ff: h2-font;
  --font-body-ff: body-font;
  /* Font Sizes */
  --text-desktop-h1: 5rem;
  --text-desktop-h2: 3rem;
  --text-desktop-lg-body: 1.75rem;
  --text-desktop-body: 1.25rem;
  --text-mobile-h1: 3.5rem;
  --text-mobile-h2: 2.25rem;
  --text-mobile-lg-body: 1.35rem;
  --text-mobile-body: 1.125rem;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

textarea {
  resize: none;
}

@media (max-width: 768px) {
  html {
    scroll-snap-type: none;
  }
}
