.project-card {
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card::after {
    animation: rotate-border 8s linear infinite, skills-glow 5s infinite;
    content: '';
    border-radius: 12px;
    filter: blur(18px);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      var(--angle),
      var(--color-primary-cyan-500),
      var(--color-primary-magenta-500)
    );
    opacity: 0.8;
    z-index: -1;
}

.project-card::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 12px;
    z-index: 1;
    transform-origin: center center;
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

.project-card:hover::before {
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(3px);
    transform: scaleX(1);
}

.project-card img {
    border-radius: 20px 20px 0 0;
    height: 100%;
    width: 100%;
}

.project-title-container {
    background-image: linear-gradient(90deg, black, var(--color-secondary-magenta-500), black);
    border-radius: 0 0 20px 20px;
}

.project-title {
    animation: sm-h2-glow 5s infinite;
}

.project-info-container {
    opacity: 0;
    z-index: 2;
    transform: scaleY(0);
    transition: transform 0.4s ease;
}

.project-card:hover .project-info-container {
    display: flex;
    transform: scaleY(1);
    opacity: 1;
}
