.projects-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3rem;
    row-gap: 2rem;
}

.project-skill {
    font-size: 3rem;
    color: var(--color-primary-magenta-500);
    filter: drop-shadow(0 0 8px rgba(189, 0, 189, 0.568));
}



